@font-face {
    font-family: pokeFont;
    src: url(../fonts/poke-font/Pokemon\ GB.ttf);
}
html {
    background-color: #f9f7f5ef;
    height: 100%;
}
* {
    box-sizing: border-box;
    flex-direction: column;
    /* align-items: flex-start; */
    max-height: 150vh;
}
.container{
    justify-content: center;
}
.app {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Pok%C3%A9ball.png/240px-Pok%C3%A9ball.png');
    background-size: 60px;
    background-color: rgb(36, 224, 238);
    border: 3px solid black;
    border-radius: 8px;
    margin: 5px auto 5px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
    justify-self: flex-end;
    height: 98vh;    
    max-width: 1046px;
    
}
/*--- HEADER ---*/
.header {
    max-width: 100%;    
    height: 20vh;
    display: flex;
    flex-direction: row; 
    justify-items: stretch;
    justify-content: center;
    min-height: 143px;
}
.poke-logo {
    max-width: 390px;
    justify-self: center;
}
.poke-logo-a {
    width: 390px;
    height: 143px;
}
/*--- NAV BAR ---max-width: 600px---*/
.nav-bar {
    margin: 0 10px 5px 10px;
    height: 33px;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;    
    height: 100%;
    list-style: none;
    font-family: pokeFont;
    font-size: 17px;
    margin: 0;
    padding: 0;    
    justify-content: center;
    align-items: stretch;
}
.nav-bar ul li {
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px 0 0 1px;
}
.home {
    background-color: #f5e4e1f5;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.home li:hover {
    background-color: #f5a3a3;
    color:white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search {
    background-color: #f5e4e1f5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.search li:hover {
    background-color: #f5a3a3;
    color: white;
}
.poke-details {
    background-color: #f5e4e1f5;
    border: 2px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.poke-details li:hover {
    background-color: #f5a3a3;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.active {
    background-color: #f5a3a3;
    color: white;
}
a {
    text-decoration: none;
    width: 33.33333%;    
    align-content: stretch;
}
@media only screen and (min-width: 600px) {
    .nav-bar ul {
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .nav-bar ul {
        font-size: 20px;   
    }
}
/* BODY */
.body {
    flex-direction: column;
    height: 73%;
    max-height: 600px;
    background-color: #f5e4e1e1;
    border-radius: 8px;
    border: 2px solid black;
    margin: 0 10px 10px 10px;
    overflow: scroll;
}
/*--- HOME max 600px width---*/
#home {
    display: flex;
    flex-direction: column;
    /* height: 100; */
}
.welcome {
    font-family: pokeFont;
    align-self: center;
    font-weight: normal;
    margin: 20px 0 10px 0;
    font-size: 32px;
     
}
.first-info {
    font-family: pokeFont;
    display: flex;
    flex-direction: column;

}
.first-info section:nth-child(1) div{
    order: 1;
}
.first-info section:nth-child(3) div{
    order: 1;
}
.first-info section:nth-child(5) div{
    order: 1;
}
.first-info section:nth-child(7) div{
    order: 1;
}
.first-info section:nth-child(1) { 
    animation-duration: 1.3s;
}
.first-info section:nth-child(2) { 
    animation-duration: 1.6s;
}
.first-info section:nth-child(3) { 
    animation-duration: 1.9s;
}
.first-info section:nth-child(4) { 
    animation-duration: 2.2s;
}
.DidYouKnowCard {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 3px 3px 3px;
    background-color: rgba(219, 207, 207, 0.146);
    animation-name: slidein;
}
.DidYouKnowCard:hover{
    background-color: rgb(219, 207, 207);

}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.DidYouKnowCard-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #bdbec07a;
    margin: 4px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid black;

}
.DidYouKnowCard-title {
    font-size: 17px;
    font-weight: normal;
    margin: 5px 0 4px 3px;
    align-self: center;
    
}
.DidYouKnowCard-info {
    font-size: 13px;
    text-align: justify;    
    margin: 0 4px 1px 4px;
}
.DidYouKnowCard-img {
    width: 30%;
    background-color: #ffb2b28a;
    border-radius: 25px;
    border: 1px solid black;
    margin: 4px;
}
.thanks {
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: rgba(255, 253, 253, 0.767);
    border-radius: 9px;
    justify-content: center;
    width: 505px;
    align-self: center;    
}
.thanks p {
    font-family: pokeFont;
    font-size: 9px;
    text-align: justify;
    padding: 0px 4px 0 4px;
    margin: 2px 0 2px 0;
    width: 450px;

    align-self: center;
}
.thanks a {
    padding: 3px 0 0 0;
    width: 50px;
    margin: 0 2px 0 0;
}
#github-logo {
    width: 50px;
    background-color: rgb(235, 112, 112);
    border-radius: 90px;
    align-self: center;

}
@media only screen and (min-width: 768px) {
    .welcome{
        font-size: 40px;
    }
    .first-info {
        font-family: pokeFont;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .DidYouKnowCard {
        width: 49%;
        animation-name: slidein1;
        animation-duration: 1.5s;
        background-color: rgba(219, 207, 207, 0.637);

    }
    @keyframes slidein1 {
        from {
          margin-top: 100%;
          height: 125px;
          margin-bottom: 0%;
        }  
        to {
          margin-top: 0%;
          height: 125px;
        }
      }
    .DidYouKnowCard-info {
        font-size: 11px;
    }
    .first-info section:nth-child(1) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(2) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(3) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(4) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(5) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(6) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(7) { 
        animation-duration: 1.5s;
    }
    .first-info section:nth-child(8) { 
        animation-duration: 1.5s;
    }
    .pikachu420 {
        height: 400px;
        animation-name: slidein2;
        animation-duration: 1.5s;
    }
    @keyframes slidein2 {
        from {
          margin-top: 100%;
          height: 100%;
        }  
        to {
          margin-top: 40%;
          height: 100%;
        }
      }
}
/*--- SEARCH ---*/
.search-bar {    
    font-family: pokeFont;
    height: 30px;
    margin: 3px;
    background-color: #f5a3a3;
    border: 2px solid black;
    border-radius: 6px;    
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.form {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #f7c0c002;
    

}
#search-input {
    background-color: #f7c0c0b1;
    font-family: pokeFont;
    font-size: 17px;
    min-height: 26px;
    width: 195px;
    margin: 0;
    padding: 3px 0 0 4px;
    border: none;
    border-right: 2px solid rgb(11, 10, 10);
    border-radius: 0;
}
.search-button {
    background-image: url('https://cdn3.iconfinder.com/data/icons/objects/512/Lupe-512.png');
    background-size: 25px;
    background-color: #f7c0c0;
    background-position-y: 1px;
    width: 25px;
    border-width: 2px;
    border-style: inset;
    margin: 0 1px 0 3px;
    border-radius: 6px;

}
.search-button:hover {
    background-color: #f5e4e1e1;
}
#trash-button {
    border-right: 2px solid black;
    border-radius: 0;
    margin: 0 0 0 2.3px;
    padding: 0 3px 0 2.3px;
}
.trash-button{
    background-image: url('../images/trash.png');
    background-size: 26px;
    background-position-y: 0px;
    background-position-x: -2.5px;
    background-color: #f7c0c0;
    width: 25px;
    height: 26px;
    border-width: 2px;
    border-style: inset;
    border-radius: 8px;

}
.trash-button:hover {
    background-color: #f5e4e1e1;

}
.poke-collection {
    height: 73%;

}
.poke-dash {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1px 0px 0px 0px;
    margin: 0px 0px 0px 3px;
    border-radius: 6px;
}
/*---POKEMON CARD---max-width: 600px---*/
@media only screen and (max-width: 600px) {    

    .poke {
        width: 49%;
        height: 96px;
        margin: 1px;
        background-color: #cfcecee7;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        font-family: pokeFont;   
        justify-content: space-between;
    }
    .poke:hover {
        transform: translateY(-3px);
    }
    .poke-title {
        width: 40%;
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .poke-name {
        padding: 3px 0 0 3px;
        margin: 5px 0 0 3px;
        font-size: 12px;
        width: 90%;    
    }
    .deleteButtonMax600 {
        align-self: self-start;
        background-color: #dfdbdb;
        color: rgba(11, 8, 8, 0.938);
        border: 0.5px solid rgba(1, 5, 1, 0.651);
        border-radius: 8px;
        padding: 0 3.9px 2px 4px;
        margin: 0px;
        font-size: 8px;
    }
    .deleteButtonMin600 {
        display: none;
    }
    .deleteButtonMax600:hover {
        background-color: rgba(240, 102, 84, 0.995);

    }
    .img-container {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .poke-img {
        width: 120px;
        height: 130px;
        border-radius: 80px;
    }
    .link-img {
        align-self: center;
        align-items: center;
        display: flex;
        margin: 0px;
        width: 80%;
        height: 120px;
        border-radius: 80px;
    }
    .link-img:hover {
        background-color: #f5a3a3;
        border: 2px solid black;
    }
    .poke-numberMax600 {
        font-size: 15px;
        list-style: none;
        padding: 0 0 3px 3px;
    }
    .poke-numberMin600 {
        display: none;
    }
}
@media only screen and (min-width: 600px) {    
    .poke {
        width: 24.6%;
        margin: 1px;
        background-color: #cfcecee7;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        font-family: pokeFont;   
        align-items: stretch;     
    }
    .poke:hover {
        transform: translateY(-3px);
    }
    .poke-title {
        padding:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .poke-name {
        padding: 0;
        margin: 5px 0 0 3px;
        font-size: 12.5px;
        width: 90%;    
    }
    .deleteButtonMin600 {
        align-self: self-start;
        background-color: #dfdbdb;
        color: rgba(11, 8, 8, 0.938);
        border: 0.5px solid rgba(1, 5, 1, 0.651);
        border-radius: 8px;
        padding: 0 3.9px 2px 4px;
        margin: 0px;
        font-size: 8px;
    }
    .deleteButtonMax600 {
        display: none;
    }
    .deleteButtonMin600:hover {
        background-color: rgba(240, 102, 84, 0.995);    
    }
    .img-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .poke-img {
        width: 100%;
        height: 96px;
        background-color: #cfceced5;
        border-radius: 80px;
    }
    .link-img {
        align-self: center;
        align-items: center;
        display: flex;
        margin: 0px;
        width: 80%;
        height: 96px;
        border-radius: 80px;
    }
    .link-img:hover {
        background-color: #f5a3a3;
        border: 2px solid black;
    }
    .poke-numberMin600 {
        font-size: 12px;
        list-style: none;
    }
    .poke-numberMax600 {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .poke {
        width: 200px;     
    }
    .poke-name {
        font-size: 16px;
    }
} 
/*--- POKEMON DETAILS --- max-width: 600px ---*/
.full-details {
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 211, 211, 0.667);
    font-family: pokeFont;
    align-items: stretch;
    align-content: stretch;
}
.detail-name {
    flex: 0 1 auto;
    margin-top: 15px;
    font-size: 23px;
    align-self: center;
    text-decoration: underline;
}
.img-data {
    flex: 3 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
}
.detail-img {
    /* flex: 1 1 auto; */
    border-radius: 30px;
    min-width: 168px;
}
.detail-data {
    flex: 1 1 auto;
    list-style: none;
    padding: 0;
    margin: 0 10px 0 0;
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: rgba(219, 207, 207, 0.858);
}
.detail-data li {
    margin: 2px 0 2px 0;
    padding: 3px 2px 0 4px;
    border-bottom: 1px solid black;
    font-size: 13px;
}
.detail-data li:last-child {
    border: none;
    padding-bottom: 0;
}
.detail-data li span {
    float: right;
    font-size: 12px;
}
.description {
    background-color: rgba(219, 207, 207, 0.858);
    border: 1.5px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 7px 7px 3px 7px;
    font-size: 15px;
    text-align: justify;    
}
/*--- Egg Groups & types ---*/
.type-eggGroups {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 12px 0 12px 0;
}
.div-eggs {
    display: flex;
    background-color: rgba(219, 207, 207, 0.858);
    border: 1.5px solid black;
    border-radius: 8px;
}
.div-eggs p {
    align-self: center;
    margin: 10px 5px 10px 5px;
    font-size: 15px;    
}
.ul-eggs {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.ul-eggs li {
    border: 1px solid rgba(1, 5, 1, 0.651);
    padding: 2px 2px 0 4px;
    margin: 0 3px 2px 3px;
    border-radius: 8px;
    
}
.div-types {
    display: flex;
    flex-direction: column;
    background-color: rgba(219, 207, 207, 0.858);
    border: 1.5px solid black;
    border-radius: 8px;
}
.div-types p {
    align-self: center;
    margin: 10px 15px 10px 15px;
    font-size: 15px;
}
.ul-types {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;

}
.ul-types li {
    border: 1px solid rgba(1, 5, 1, 0.651);
    padding: 2px 2px 0 4px;
    margin: 0 3px 2px 3px;
    border-radius: 8px;
}
/*--- type & eggs clases! ---*/ 
.grass, .plant {
    background-color: #9bcc50;
}
.poison {
    background-color: #c47acd;
}
.normal, .indeterminate {
    background-color: #a1acae;
}
.ground {
    background-color: #ccac44;
}
.fire {
    background-color: #fd7d24;
}
.water, .water1, .water2, .water3 {
    background-color: #2193c8;
}
.bug {
    background-color: #63a129;
}
.flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}
.electric {
    background-color: #f2d500;
}
.fairy, .humanshape {
    background-color: #ffb3ec;
}
.fighting {
    background-color: #e46000;
}
.psychic {
    background-color: #ff57bc;
}
.steel {
    background-color: #8fc9c7;
}
.ice {
    background-color: #00c7eb;
}
.ghost {
    background-color: #815fa7;
}
.rock {
    background-color: #745c0e;
}
.monster {
    background-color: rgb(67, 65, 65);
    color: rgb(201, 198, 198);
}
.dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}
.no-eggs {
    background-color: #f8faf6;
}
.mineral {
    background-color: #a2f7dcd7;
}
.ditto {
    background-color: #da2de0;
}
/*--- STATS ---*/
.div-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1.5px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 0;
    font-size: 15px;
}
.ul-a {
    flex: 1 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ul-a li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px 2px 0 5px;
}
.ul-a li:last-child {
    border: none;
}
.ul-a li span {
    font-size: 14px;
}
.ul-d {
    flex: 1 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1.5px solid black;
}
.ul-d li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px 2px 0 5px;
}
.ul-d li:last-child {
    border: none;
}
.ul-d li span {
    font-size: 14px;
}